.govuk-tabs {
  ul {
    margin: 0 0 $govuk-gutter 0;
    padding: 0;
    border-bottom: 2px solid govuk-colour('grey-2');
    list-style: none;

    li {
      display: inline-block;

      a {
        display: block;
        height: 2.25em;
        line-height: 2.25em;
        margin-bottom: -2px;
        padding: 0 $govuk-gutter;
      }

      &.active a {
        border: solid 2px govuk-colour('grey-2');
        border-bottom: none;
        padding-bottom: 2px;
        color: #0b0c0c;
        text-decoration: none;
        pointer-events: none;
        background-color: $background;
        cursor: default;
      }
    }
  }
}
