version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️ "
    pull-request-branch-name:
      separator: "-"
    reviewers:
      - "UKHomeOffice/asl-devs"
    labels:
      - "skip-release"
      - "dependencies"
    cooldown:
      default-days: 3
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️ "
    pull-request-branch-name:
      separator: "-"
    reviewers:
      - "UKHomeOffice/asl-devs"
    labels:
      - "dependencies"
    ignore:
      - update-types:
          - version-update:semver-major
    cooldown:
      default-days: 3
