node_modules/
.idea
.env

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*

packages/**/node_modules
packages/**/.env

packages/**/coverage

packages/asl/public
packages/asl-internal-ui/public


# any .env file in any package should not be commit as it may have senstive info.
packages/*/.env


.history/*
packages/.DS_Store
