node_modules/
.idea

packages/**/node_modules
packages/**/.env


packages/**/coverage

packages/asl/public
packages/asl-internal-ui/public


# any .env file in any package should not be commit as it may have senstive info.
packages/*/.env


.history/*
packages/.DS_Store
