[submodule "packages/asl-components"]
	path = packages/asl-components
	url = https://github.com/UKHomeOffice/asl-components.git
[submodule "packages/asl-pages"]
	path = packages/asl-pages
	url = https://github.com/UKHomeOffice/asl-pages.git
[submodule "packages/asl-constants"]
	path = packages/asl-constants
	url = https://github.com/UKHomeOffice/asl-constants.git
[submodule "packages/asl-dictionary"]
	path = packages/asl-dictionary
	url = https://github.com/UKHomeOffice/asl-dictionary.git
[submodule "packages/asl-service"]
	path = packages/asl-service
	url = https://github.com/UKHomeOffice/asl-service.git
[submodule "packages/asl-projects"]
	path = packages/asl-projects
	url = https://github.com/UKHomeOffice/asl-projects.git
