modules = ["nodejs-20", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 44912147
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --registry=https://registry.npmjs.org/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Install and Build"
author = 44912147
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --registry=https://registry.npmjs.org/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Build All Packages"
author = 44912147
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --registry=https://registry.npmjs.org/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Run Tests"
author = 44912147
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --registry=https://registry.npmjs.org/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm test"
