.application-confirm {
  legend {
    @extend h2;
  }

  border: 3px solid govuk-colour('grey-2');
  background-color: $white;
  padding: $govuk-gutter;
  margin-bottom: $govuk-gutter;

  .govuk-checkboxes {
    margin-bottom: 0;
  }

  .govuk-form-group:last-child,
  .govuk-button:last-child {
    margin-bottom: 0;
  }

  .govuk-checkboxes__label {
    font-weight: normal;

    &:before {
      top: 50%;
      margin-top: -20px;
    }

    &:after {
      top: 50%;
      margin-top: -9px;
    }
  }
}
