.download-header {
  background-color: white;
  border-bottom: 4px solid $blue;
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter-half;
  overflow: auto;
  display: flex;
  flex-direction: row;

  .page-title {
    flex: 1;
    padding-right: $govuk-gutter-half;

    h1 {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 5px;
    }

    h2 {
      display: inline;
      font-size: 18px;
      font-weight: normal;
      margin-right: 1em;
    }

    a.toggle-details {
      font-size: 16px;
    }

    dl {
      margin-top: $govuk-gutter-half;
      font-size: 16px;
    }

    @include govuk-media-query($from: tablet) {
      dl {
        dt {
          float: left;
          margin-right: 2%;
          width: 28%;
        }

        dd {
          margin-left: 30%;
          margin-bottom: .8em;
        }

        dd::after {
          content: " ";
          display: block;
          clear: left;
        }
      }
    }
  }

  .download-options {
    border-left: 1px solid $mid-grey;
    padding: $govuk-gutter-half 0 0 $govuk-gutter-half;

    .toggle-download-options {
      &:before {
        @include icon;
        background-image: $download-icon;
      }
    }
  }
}
