.model-summary {
  &.section-data {
    @extend .govuk-body-s;

    margin: $govuk-gutter-half;
    margin-right: 0;
    padding-left: $govuk-gutter-half;

    border-left: 6px solid govuk-colour('grey-2');
  }
}
