$red: #c42b2b;
$pink: #f3dede;
$mid-green: #28a197;
$light-green: #c6ece9;

.diff-text {
  white-space: pre-wrap;
  word-break: break-word;

  .added {
    border-bottom: 3px solid $mid-green;
    background-color: $light-green;
  }

  .removed {
    color: $dark-grey;
    border-bottom: 3px solid $red;
    background-color: $pink;
  }
}
