.pagination {
  .pagination-summary {
    padding: 8px 0;

    @include govuk-media-query($from: tablet) {
      float: right;
    }
  }

  ul {
    padding: 0;

    .pagination-item {
      display: inline-block;
      list-style: none;

      .pagination-link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover, &:focus {
          background: $highlight-colour;
          outline: 3px solid $govuk-focus-colour;
        }

        &.current {
          color: $govuk-text-colour;
          font-weight: 700;
          border: none;
          pointer-events: none;
          cursor: default;

          &:hover, &:focus {
            color: $govuk-text-colour;
            background: none;
          }
        }

        &.current.next, &.current.prev {
          font-weight: 400;
          color: govuk-colour("grey-1");
        }
      }
    }
  }
}
