.panel-list {
  list-style: none;
  padding-left: 0;

  &>li {
    background: $highlight-colour;
    @extend .govuk-heading-m;
    border: 1px solid govuk-colour('grey-1');
    padding: $govuk-gutter;

    a:not(.govuk-button) {
      &:focus {
        background-color: $highlight-colour;
        outline: none;
      }
    }

    p {
      @extend .govuk-body-s;
    }

    &:focus-within {
      outline: 3px solid $ho-focus;
    }

    .govuk-button:last-child {
      margin-bottom: 0;
    }
  }
}
