.back-to-top {
  background: $white;
  padding: 0 10px;

  position: sticky;
  bottom: 0;
  float: right;

  z-index: 1000;

  border: 1px solid black;
  border-bottom-width: 2px;

  p {
    margin: 7px 0;

    &:before {
      content: '\2191';
    }
  }
}
