.sticky-nav {
  display: block;
  border-top: 4px solid $blue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  > a {
    display: block;
    padding: $govuk-gutter-half;
    text-decoration: none;

    &.active {
      background-color: $blue;
      color: $white;

      &:focus {
        color: $white;
      }
    }
  }
}
