dl {
  margin-bottom: $govuk-gutter;

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: $govuk-gutter/2;
    white-space: pre-line;

    ul {
      list-style-type: disc;
      padding-left: 1em;
    }
  }

  &.light {
    dt {
      font-weight: normal;
    }
  }

  &.inline {
    dt {
      float: left;
      margin-right: 5%;
      max-width: 30%;
    }

    dd {
      margin-left: 35%;

      ul {
        padding-left: 1em;
      }
    }

    dd::after {
      content: " ";
      display: block;
      clear: left;
    }
  }
}
