$highlight-colour: govuk-colour('grey-4');

@import 'images';
@import 'icons';
@import 'description-lists';
@import 'headings';
@import 'buttons';

@import '../src/autocomplete/index';
@import '../src/accordion/index';
@import '../src/add-another/index';
@import '../src/application-confirm/index';
@import '../src/application-progress/index';
@import '../src/back-to-top/index';
@import '../src/completable/index';
@import '../src/control-bar/index';
@import '../src/datatable/index';
@import '../src/diff/index';
@import '../src/diff-text/index';
@import '../src/document-header/index';
@import '../src/duration-field/index';
@import '../src/expanding-panel/index';
@import '../src/fieldset/index';
@import '../src/filters/index';
@import '../src/filter-table/index';
@import '../src/header/index';
@import '../src/link-filter/index';
@import '../src/link-filter-list/index';
@import '../src/metric/index';
@import '../src/model-summary/index';
@import '../src/multi-input/index';
@import '../src/notification/index';
@import '../src/overflow-wrapper/index';
@import '../src/pagination/index';
@import '../src/panel/index';
@import '../src/panel-list/index';
@import '../src/search/index';
@import '../src/section-list/index';
@import '../src/select-many/index';
@import '../src/sidebar/index';
@import '../src/species-selector/index';
@import '../src/status-bar/index';
@import '../src/sticky-nav/index';
@import '../src/sticky-nav-anchor/index';
@import '../src/tabs/index';
@import '../src/licence-status-banner/index';

.hidden {
  display: none;
}

.float-right {
  float: right
}

.float-left {
  float: left;
}

.align-right {
  text-align: right;
}
