$highlight-colour: govuk-colour('grey-4');

$govuk-colours: (
  "red": #d4351c,
  "yellow": #ffdd00,
  "green": #00703c,
  "blue": #1d70b8,
  "dark-blue": #003078,
  "light-blue": #5694ca,
  "purple": #4c2c92,
  "black": #0b0c0c,
  "dark-grey": #505a5f,
  "mid-grey": #b1b4b6,
  "light-grey": #f3f2f1,
  "white": #ffffff,
  "light-purple": #6f72af,
  "bright-purple": #912b88,
  "pink": #d53880,
  "light-pink": #f499be,
  "orange": #f47738,
  "brown": #b58840,
  "light-green": #85994b,
  "turquoise": #28a197,
  "grey-1": #6f777b,
  "grey-2": #bfc1c3,
  "grey-3": #dee0e2,
  "grey-4": #f8f8f8,
);

$govuk-brand-colour: #8f23b3;

@import 'govuk-frontend/dist/govuk/base';
@import '@x-govuk/govuk-prototype-components/x-govuk/components/related-navigation/related-navigation';

@import 'images';
@import 'icons';
@import 'description-lists';
@import 'headings';
@import 'buttons';

@import '../src/autocomplete/index';
@import '../src/accordion/index';
@import '../src/add-another/index';
@import '../src/application-confirm/index';
@import '../src/application-progress/index';
@import '../src/back-to-top/index';
@import '../src/completable/index';
@import '../src/control-bar/index';
@import '../src/datatable/index';
@import '../src/diff/index';
@import '../src/diff-text/index';
@import '../src/document-header/index';
@import '../src/duration-field/index';
@import '../src/expanding-panel/index';
@import '../src/fieldset/index';
@import '../src/filters/index';
@import '../src/filter-table/index';
@import '../src/header/index';
@import '../src/link-filter/index';
@import '../src/link-filter-list/index';
@import '../src/metric/index';
@import '../src/model-summary/index';
@import '../src/multi-input/index';
@import '../src/notification/index';
@import '../src/overflow-wrapper/index';
@import '../src/pagination/index';
@import '../src/panel/index';
@import '../src/panel-list/index';
@import '../src/search/index';
@import '../src/section-list/index';
@import '../src/select-many/index';
@import '../src/sidebar/index';
@import '../src/species-selector/index';
@import '../src/status-bar/index';
@import '../src/sticky-nav/index';
@import '../src/sticky-nav-anchor/index';
@import '../src/tabs/index';
@import '../src/licence-status-banner/index';
@import '../src/text-area-word-count/index';

.hidden {
  display: none;
}

.float-right {
  float: right
}

.float-left {
  float: left;
}

.align-right {
  text-align: right;
}
