.section-list {
  list-style: none;
  margin-bottom: $govuk-gutter;
  padding: 0;

  .section-item {
    padding: $govuk-gutter-half 0;
    border-top: 1px solid govuk-colour('grey-1');

    &:last-child {
      border-bottom: 1px solid govuk-colour('grey-1');
    }

    h3 {
      margin: 0;
    }

    .actions {
      margin-top: $govuk-gutter-half;
      text-align: right;
    }
  }
}
