.search-box {
  position: relative;

  input {
    width: 100%;
    border-right: none;
    box-sizing: border-box;
    padding-right: 45px;
  }

  button {
    position: absolute;
    right: 0;
    height: 33px;
    width: 33px;
    margin: 0;
    padding: 5px 0 4px;
    border: none;
    background: govuk-colour("blue") $search-icon no-repeat left center;
    cursor: pointer;

    &:active {
      top: auto;
    }

    @include govuk-media-query($from: tablet) {
      height: 38px;
      width: 38px;
    }
  }
}
